* {
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
}

.slider-body {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.slide {
  transition: all 0.8s ease-in-out;
  width: 100%;
  flex: 1 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.img-round {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.btn {
  z-index: 10;
  padding: 0px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn img {
  width: 100px;
  filter: brightness(0) saturate(100%) invert(96%) sepia(5%) saturate(23%)
    hue-rotate(314deg) brightness(90%) contrast(87%);
}

.btn.btn-prev {
  transform: rotate(0.5turn);
}

.styled-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  background-color: #649eef;
  cursor: pointer;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 10;
  width: 100%;
}

.slider-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d3d3d3;
  margin: 0 5px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #808080;
}

@media only screen and (max-width: 600px) {
  .btn {
    display: none;
  }
}
